{
    "extends": "eslint:recommended",
    "env": {
        "node": true,
        "commonjs": true,
        "es6": true,
        "mocha": true
    },
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "curly": "error",
        "dot-notation": "error",
        "eqeqeq": ["error", "always", {
            "null": "ignore"
        }],
        "max-depth": ["error", 5],
        "max-len": "off",
        "max-params": ["error", 7],
        "no-bitwise": "error",
        "no-cond-assign": ["error", "except-parens"],
        "no-confusing-arrow": "error",
        "no-console": "off",
        "no-constant-condition": ["error", {
            "checkLoops": false
        }],
        "no-empty": ["error", {
            "allowEmptyCatch": true
        }],
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-lone-blocks": "error",
        "no-multi-str": "error",
        "no-nested-ternary": "error",
        "no-new": "error",
        "no-new-func": "error",
        "no-shadow": "error",
        "no-tabs": "error",
        "no-template-curly-in-string": "error",
        "no-unneeded-ternary": "error",
        "no-unused-expressions": "error",
        "no-use-before-define": ["error", {
            "functions": false
        }],
        "operator-linebreak": ["off", "after"],
        "prefer-template": "error",
        "quotes": ["error", "single", {
            "avoidEscape": true
        }],
        "require-await": "error",
        "spaced-comment": ["error", "always", {
            "block": {
                "balanced": true
            }
        }],
        "strict": "error",
        "valid-jsdoc": ["error", {
            "requireReturn": false
        }],
        "yoda": "error"
    }
}
